html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

header {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location {
  background-color: #f2f2f2f6;
  width: 100%;
  height: 150px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid 4px rgba(217, 217, 217, 0.9647058824);
}

.location i {
  font-size: 40px;
  margin-right: 30px;
  color: rgba(229, 229, 229, 0.9647058824);
}

.location p {
  font-family: "Roboto", sans-serif;
}

.find-restaurant {
  background-color: rgba(250, 250, 250, 0.9647058824);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-restaurant__head {
  width: 85%;
  font-family: "Shrikhand", sans-serif;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
}

.find-restaurant__description {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.find-restaurant__bouton {
  background: linear-gradient(#FF79DA, #9356DC);
  height: 105px;
  width: 500px;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: white;
  text-align: center;
  border-radius: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 9px 14px #f2f2f2f6;
}

.how-to-use {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 200px;
}

.how-to-use__head {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.how-to-use__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.how-to-use__list__bouton {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: bold;
  background-color: rgba(250, 250, 250, 0.9647058824);
  border-radius: 20px;
  margin-bottom: 40px;
}

.restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f2f2f6;
  padding-left: 200px;
}

.restaurants__head {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.restaurants__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.restaurants__list__cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  background-color: white;
  margin-bottom: 50px;
}

.restaurants__list__cards img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  border-radius: 40px 40px 0 0;
}

.restaurants__list__cards__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.restaurants__list__cards__content__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
}

.restaurants__list__cards__content__description__head {
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -60px;
}

.restaurants__list__cards__content__description__location {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

.restaurants__list__cards__content i {
  font-size: 200px;
  color: #f2f2f2f6;
}

/*# sourceMappingURL=style.css.map */
