@import 'Utils/variables';
@import 'Utils/mixins';
@import 'Utils/fonctions';

/*HOMEPAGE*/
html {
  width: 100%;
  @include text-font;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}


header {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.location {
  background-color: $background-color;
  width: 100%;
  height: 150px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid 4px darken($background-color, 10);
  }
.location i {
  font-size: 40px;
  margin-right: 30px;
  color: darken($background-color, 10%);
}
.location p {
  @include text-font;
}


.find-restaurant {
  background-color: lighten($background-color, 3%);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.find-restaurant__head {
  width: 85%;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
}
.find-restaurant__description {
  font-size: 40px;
  @include text-font;
  text-align: center;
}
.validator-bouton {
  background: linear-gradient($secondary-color, $primary-color);
  position: relative;
  height: 155px;
  width: 550px;
  @include text-font;
  font-size: 43px;
  color: white;
  text-align: center;
  border-radius: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 9px 14px $background-color;
  transition-property: transform opacity;
  z-index: 1;
    &:hover { 
      &::after {
        transform: scale(1.005);
        opacity: 1;
      }
  }
    &::after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(lighten($secondary-color, 3) 0%, lighten($primary-color,3) 100%);
      border-radius: 250px;
      box-shadow: 2px 9px 20px darken($background-color,50);
      opacity: 0;
      z-index: -1;
      transition: opacity 270ms;
    }  
}       
  




.how-to-use {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.how-to-use__head {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-weight: bold;
  font-size: 40px;
}
.how-to-use__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:space-between;
}
.how-to-use__list__bouton {
  width: 85%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @include text-font;
  font-size: 40px;
  font-weight: bold;
  background-color: lighten($background-color, 3%);
  border-radius: 50px;
  margin-bottom: 40px;
  margin-left: 100px;
  box-shadow: 2px 9px 14px $background-color;
  position: relative;
  transition-property: opacity;
  z-index: 1;
    &:hover { 
      &::after {
        opacity: 1;
      }
  }
    &::after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: lighten($primary-color, 35);
      border-radius: 50px;
      opacity: 0;
      z-index: -1;
      transition: opacity 270ms;
    }  
}   
.how-to-use__list__bouton i{
  color: darken($background-color, 20);
  margin-right: 45px;
}
.how-to-use__list__bouton__number-icon {
  width: 80px;
  height: 80px;
  left: -70px;
  background-color: $primary-color;
  color: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $background-color;
}
.restaurants__head {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-weight: bold;
  font-size: 40px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.restaurants__list__cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 40px 40px 40px 40px;
}
.restaurants__list__cards img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  border-radius: 40px 40px 0 0;
}
.restaurants__list__cards__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants__list__cards__content__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
}
.restaurants__list__cards__content__description__head {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -60px;
}
.restaurants__list__cards__content__description__location {
  @include text-font;
  font-size: 35px;
}
.restaurants__list__cards__content i {
  font-size: 80px;
  color: darken($background-color, 80%);
  margin: 45px;
}


footer {
  width: 100%;
  background-color: darken($background-color, 80%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 40px;
}
.footer__head {
 font-family: 'Shrikhand';
 font-size: 45px;
 margin-left: 50px;
 margin-bottom: -40px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
  @include text-font;
}
.footer__list__content {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.footer__list__content i{
  margin-right: 40px;
}




/*MENU*/
.header__homepage-link i{
  font-size: 100px;
  color: darken($background-color, 70%);
  margin-right: 80px;
}


.menu-image img {
  object-fit: cover;
  width: 100%;
}


.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $background-color;
  width: 100%;
  border-radius: 75px 75px 0 0;
  margin-top: -60px;
}
.menu__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include logo-font;
  font-size: 80px;
  margin: 20px;
}
.menu__head i{
  font-size: 60px;
}
.menu__content__head {
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 20px;
}
.menu__content__head__underline {
  border-top: solid 10px $tertiary-color;
  width: 150px;
}
.menu__content__bouton-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__content__bouton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  width: 95%;
  height: 180px;
  font-size: 40px;
  margin-bottom: 40px;
  box-shadow: 2px 9px 14px darken($background-color, 10%);
}
.menu__content__bouton__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.menu__content__bouton__description p{
  margin-top: -40px;
  margin-left: 10px;
}
.menu__content__bouton__price {
  font-weight: bold;
  align-self: end;
  margin-right: 10px;
}
.menu .validator-bouton {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 200px;
}