@import url(C:\Users\Sayuri\Desktop\Projet3\SASS\Utils\_variables.scss);
@import url(C:\Users\Sayuri\Desktop\Projet3\SASS\Utils\_mixins.scss);
@import url(C:\Users\Sayuri\Desktop\Projet3\SASS\Utils\_fonctions.scss);

* {
  min-width: 320px;
  max-width: 475px;
}

header {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  margin-top: 50px;
}
